# Entornos virtuales
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Archivos de sistema
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Variables de entorno
.env

# Archivos temporales
*.log
